
.header-container{
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titile{
    font-size: 2rem;
    font-family: 300;
    text-align: center;
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.side-menu{
    margin-top : 20px;
    margin-right : 20px;
}

hr{
    margin:0 0;
}

/*
여기까지는 공통 header
*/

.board-header{
    padding-left: 20px;
    height:150px;
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
.board-header-title{
    margin-bottom: 20px;
    font-size: 1.5rem;;
}

.board-header-category-container{
    display: flex;
    justify-content: start;
    padding-bottom: 20px;
}
.board-header-category{
    padding: 0 10px;
}

.board-line-conatiner{
    display: flex;
    flex-direction: column;
}

.board-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:50px;
    background-color: ghostwhite;
    border-bottom: 1px solid black;
}
.board-line-number{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.board-line-category{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}
.board-line-title{
    width: 60%;
    display:flex;
    justify-content: start;
    align-items: center
}
.board-line-writer{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}
.board-line-date{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}
