<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>


    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"/>
    <link rel ="stylesheet" type="text/css" href="@{/css/board/board.css}"/>
</head>
<body>
    <h2>임시 로그인 페이지입니다</h2>
    <form th:action="@{/login}" th:object="${memberDto}" th:method="post">
        <input th:type="hidden" th:value="secret" name="secret_key"/>
        <input th:type="text" th:field="*{username}" th:placeholder="username"/>
        <input th:type="password" th:field="*{password}" th:placeholder="password"/>
        <button th:type="submit"/>
    </form>
</body>
</html>