<!--공통 헤더-->
<footer th:fragment="footer">
    <div class="footer-background">
        <div class="inner">
            <div class="footer-container">
                <div class="footer-title">
                    KpopGeneration
                </div>
                <div class="footer-info">
                    <div class="footer-info-title">Developer</div>
                    <div class="footer-info-content">최홍석</div>
                </div>
                <div class="footer-info">
                    <div class="footer-info-title">email</div>
                    <div class="footer-info-content">hhss2259@naver.com</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--공통 헤더-->