<div class="login-modal " th:fragment="loginModal">
    <div class="modal-body">
        <div class="modal-content-container">
            <div class="modal-close">
                X
            </div>
            <div class="modal-title">
                로그인
            </div>
            <form th:action="@{/loginProc}" th:method="post"  class="modal-form-container" >
                <input th:type="hidden" type="hidden" name="secret_key" value="secret"/>
                <input th:type="text" class="modal-form-input" name="username" placeholder="아이디"/>
                <input th:type="password" class="modal-form-input" name="password" placeholder="비밀번호"/>
                <div class="modal-form-info">
                    <label><input type="checkbox" th:type="checkbox" class="modal-form-checkBox" name="rememberMe" placeholder="로그인 상태 유지"/>로그인 상태 유지</label>
                    <a th:href="@{/findAuthentication}" >ID / Password 찾기</a>
                </div>
                <button th:type="submit" type="submit"  class="modal-form-submit">로그인</button>
                <a href="/oauth2/authorization/naver">네이버 로그인</a>
                <div class="modal-form-join">
                    <a  th:href="@{/join}">회원가입</a>
                </div>
            </form>
        </div>
    </div>
</div>
