
.header-container{
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titile{
    font-size: 2rem;
    font-family: 300;
    text-align: center;
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.side-menu{
    display: flex;
    width: 200px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}


hr{
    margin:0 0;
}

.member-menu{
    height: 100px;
    margin-top:5px;
    width: 200px;
    right: 0px;
    position: absolute;
    z-index : 1;
    display: none;
    border: 1px solid black;
    background-color: white;
}

.logout-button{
    background-color: white;
    border: 0px;

}




/*
여기까지는 공통 header
*/


.join-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.join-title{
    width: 95%;
    height: 100px;
    line-height: 100px;
    font-size: 1.8rem;
}

.join-content{
    width: 100%;
    height: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: beige;
    justify-content: space-around;
}

.join-agree{
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;

    height: 300px;
    border : 1px solid black;
}

.join-info{
    width:80%;
    height: 680px;
    border: 1px solid black;

    background-color: white;
}

.info{
    width:100%;
    height: 120px;
    border: 1px solid black;

    display: flex;
    flex-direction: row;
    align-items: center;
}

.email-container{
    height: 200px;
}

.info-title{
    width: 20%;
    height: 100%;
    
    background-color: whitesmoke;
    justify-content: center;
    display: flex;
    align-items: center;
}

.info-content{
    width: 80%;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

.info-input-container{
    width: 95%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.info-input{
    width: 50%;
    height: 40px;
}

.info-input-checker{
    width: 40%;
    height: 40px;
    display: flex;
    align-items: center;
    color : green;
}

.noShow{
    visibility: hidden;
}

.info-information{
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    
    text-align: start;
}


.email-content{
    justify-content: center;
}

.email-css-container{
    width: 95%;
    height: 50%;
    display: flex;
    align-items: center;
}

.email-information{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-around;
}

.email-send{
    width: 80px;
    align-self: self-end;
    height: 40px;
    background-color: cornflowerblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;

}

.email-authentication{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.email-authentication-number{
    width: 70%;
    height: 40px;
}
.email-authentication-checker-button{
    width:80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    border-radius: 10px;
}
.noTouch{
    pointer-events: none;
    opacity: 0.7;
}


.form-submit{
    width: 80%;
    display: flex;
    flex: row;
    align-items: center;
    justify-content: end;
    height: 100px;
}
.submit-button{
    width: 200px;
    height: 50px;
    border : 0px;
    background-color: brown;
}