
.news-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-container.second{
    margin-top:40px;
}
  

.container-name{
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.6rem;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
.big-card-form{
    width: 50%;
    height: auto;
    padding :20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.big-card{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.8);


}

.card-picture{
    width: 100%;
    aspect-ratio: 16 /9 ;
    border-radius: 20px 20px 0 0 ;
    background-color:  #F2F2F2;
    overflow:hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-thumbnail{
    width:100%;
    height: auto;
    min-height: 100%;
    max-height: auto;
}

.card-title{
    width: 100%;
    aspect-ratio: 16 / 2 ;
    border-bottom: 1px solid rgba(0,0,0,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    overflow: hidden;
}
.small-card .card-title{
    font-size: 1.2rem;
    font-weight: 500;
}


.card-date{
    width: 100%;
    aspect-ratio: 16 / 2 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.msg{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.small-card-form{
    width: 33%;
    height: auto;
    padding :20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small-card{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px 20px;
    box-shadow: 1px 1px 4px rgba(0,0,0,.8);

}

.big-card:hover{
    opacity: 0.5;
    transition: transform 1s;
    transform: translateY(-5px);
}


.small-card:hover{
    opacity: 0.5;
    transition: transform 1s;
    transform: translateY(-5px);
}
