
.news-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.news-container.second{
    margin-top:40px;
}
  

.container-name{
    height:50px;
    line-height: 50px;
    text-align: center;
    margin-top: 30px;
    font-size: 1.6rem;
}

.card-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
}
.big-card-form{
    width: 50%;
    height: auto;
    padding :20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.big-card{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px 20px;
    border: 1px solid black;
}

.card-picture{
    width: 100%;
    aspect-ratio: 16 /9 ;
    border-radius: 20px 20px 0 0 ;
    background-color: azure;
    overflow:hidden;

    display: flex;
    align-items: center;
    justify-content: center;
}
.card-thumbnail{
    width:100%;
    height: auto;
    min-height: 100%;
    max-height: auto;
}

.card-title{
    width: 100%;
    aspect-ratio: 16 / 2 ;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-date{
    width: 100%;
    aspect-ratio: 16 / 2 ;
    display: flex;
    justify-content: center;
    align-items: center;

}

.small-card-form{
    width: 33%;
    height: auto;
    padding :20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.small-card{
    width: 100%;
    height: auto;
    background-color: white;
    border-radius: 20px 20px;
    border: 1px solid black;
}

