
.header-container{
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titile{
    font-size: 2rem;
    text-align: center;
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.side-menu{
    margin-top : 20px;
    margin-right : 20px;
}

hr{
    margin:0 0;
}

/*
여기까지는 공통 header
*/

.board-header{
    padding-left: 20px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom:  20px;
    border-bottom: 1px solid black;
}

.board-header-title{
    height: 60%;
    font-size: 1.5rem;;
    line-height: 60px;
}

.board-header-category-container{
    height: 40%;
    display: flex;
    justify-content: start;
}
.board-header-category{
    line-height: 40px;
    padding-right: 20px;
}


/*
    게시글
*/
.board-line-conatiner{
    display: flex;
    flex-direction: column;
    
}

.board-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
    border-bottom: 1px solid black;
}
.board-line-number{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.board-line-category{
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center
}
.board-line-title{
    width: 60%;
    height:100%;
    display: flex;
    justify-content: start;
    align-items: center
}
.board-line-writer{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}
.board-line-date{
    width: 10%;
    display:flex;
    justify-content: center;
    align-items: center
}


.page-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.piece{
    width:40px;
    height: 40px;
    color: red;
    line-height: 40px;
    text-align: center;
}

.page-list{
    display: flex;
    flex: row;
    width: auto;
}

.currentPage{
    border-radius: 50% 50%;
    background-color: antiquewhite;
}
