
.detail-container{
    width:100%;
    display: flex;
    flex: column;
    justify-content: space-around;
    align-items: center;
}

.detail{
    margin-top: 50px;
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}
.detail-box{
    width:100%;
}

.detail-category{
    width: 100%;
    color: black;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
}

.detail-title{
    width: 100%;
    color: yellowgreen;
    font-size: 3rem;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 10px;
}



.detail-info{
    width: 100%;
    height: 50px;
    color: blueviolet;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-bottom: 1px solid black;
}
.detail-info-left{
    display: flex;
    flex-direction: row;
    align-items: center;

    padding-left:10px;
}
.detail-info-right{
    display: flex;
    flex-direction: row;
    align-items: center;
}


.post-delete{
    width: 80px;
    height: 30px;
    margin-right:15px;

    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-update{
    width: 80px;
    height: 30px;
    margin-right:20px;

    background-color: blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-info-image{
    width: 40px;
    height: 40px;
    border-radius: 50% 50%;
    background-color: black;

    padding-left: 10px;
}
.mini-container{
    display: flex;
    align-items: center;
    margin-left: 10px;
    border-left:1px solid black;
    padding-left: 10px;
}
.mini-info{
    padding-left:5px;
}

.detail-textdata{
    margin-top: 20px;
    height: auto;
    min-height: 220px;
    width: 100%;
}





.writer-posts-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.writer-posts{
    width: 500px;
    height: 160px;
    border: 1px solid black;

    display:flex;
    flex-direction: column;
}
.writer-posts-header{
    height: 40px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    padding-left:10px;
}
.writer-posts-details{
    padding-left: 10px;
    height: 20%;
}




.detail-likes-container{
    width: 100%;
    height : 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.detail-likes-circle{
    width: 80px;
    height: 80px;
    border-radius: 50% 50%;
    border : 1px solid black;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.detail-likes-title{
    margin-top: 5px;
}

.liked{
    background-color:red;
}





.detail-comment-container{
    margin-top: 30px;
    border-top : 1px solid black;
    width: 100%;
    min-height: 400px;
}
.comment-cnt-container{
   height: 80px;
   width: 80px;
   display: flex;
   align-items: center;
   justify-content:  space-around;
}
.comment-cnt-title{
    font-size: 1.5rem;
}
.comment-cnt{
    font-size: 1.5rem;
    color: red;
}
.comment{
    min-height: 140px;
    height: auto;
    width: 100%;

    border: 1px solid black;

    display: flex;
    flex-direction: column;
}

.comment-top{
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 10px;
    justify-content: space-between;
}

.comment-top-left{
    display: flex;
}
.comment-writer-image{
    height: 40px;
    width: 40px;
    border-radius: 50% 50%;
    background-color: black;
}
.comment-writer-nickname{
    padding-left: 10px;
    display: flex;
    align-items: center;
}

.post-self-comment{
    width: 50px;
    height: 40px;
    margin-left: 10px;
    border : 1px solid blue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comment-date{
    padding-right: 10px;
}

.comment-textBody{
    padding-left: 10px;
    min-height: 50px;
    height: auto;

    display: flex;
    align-items: center;
}
.comment-bottom{
    height: 40px;
    
    display: flex;
    align-items :center;
    justify-content: end;
}
.comment-new{
    padding-right: 10px;
}
.comment-likes{
    padding-right: 10px;;
} 





/*
페이징 css
*/
.page-container{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.piece{
    width:40px;
    height: 40px;
    color: red;
    line-height: 40px;
    text-align: center;
}

.page-list{
    display: flex;
    flex: row;
    width: auto;
}

.currentPage{
    border-radius: 50% 50%;
    background-color: antiquewhite;
}
/*
페이징 css
*/


.comment-write-container{
    width: 100%;
    height: 180px;

    display: flex;
    align-items: start;
    flex-direction: column;
}
.commentTo{
    width: 100px;
    height: 40px;
    background-color: blue;
}
.comment-write{
    width : 100%;
    height: 140px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between
}

.comment-write-textarea{
    width: 100%;
    height: 100px;
}
.comment-write-button{
    width: 80px;
    height: 30px;
    align-self: end;
}

.no-show{
    display: none;
}