@import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);

*{
    box-sizing: border-box;
    font-family: 'Jeju Gothic', sans-serif;/*웹 폰트 지정*/
    color: orange;
}

a{
    width: 0;
    all: unset;
}
a:link{
    text-decoration: none;
}
a:visited{
    text-decoration: none;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}

.inner{
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


@media only screen and (min-width:1000px){
    .inner{
        max-width:1000px;
    }
}









/*
 공통 header
*/
.header-container{
    height: 150px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.header-left{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.titile{
    font-size: 2rem;
    font-family: 300;
    text-align: center;
}

.main-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 250px;
}

.side-menu{
    display: flex;
    width: 200px;
    height: 40px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    position: relative;
    
}


hr{
    margin:0 0;
}

.member-menu{
    height: 100px;
    margin-top:5px;
    width: 200px;
    right: 0px;
    position: absolute;
    z-index : 1;
    display: none;
    border: 1px solid black;
    background-color: white;
}

.logout-button{
    background-color: white;
    border: 0px;

}
/*
 공통 header
*/







/*
modal
*/
.login-modal {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    display: none;
  
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  
.modal-body {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 400px;
    height: 400px;

    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);

    transform: translateX(-50%) translateY(-50%);

}

.modal-close{
    align-self: end;
    width: 10px;
    height:10px;
}

.modal-content-container{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal-form-container{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.modal-form-input{
    width: 350px;
    height:40px;
    margin-bottom: 10px;
}


.modal-form-submit{
    width: 350px;
    height: 40px;
    text-align: center;
    background-color: azure;
    line-height: 40px;
    margin-bottom: 20px;
    border:  0px;
}
.modal-form-info{
    width: 350px;
    height: 30px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-form-join{
    color: cornflowerblue;
}
/*
modal
*/


/*searching modal*/
.searching-modal {
    position: absolute;
    top: 0;
    left: 0;
  
    width: 100%;
    height: 100%;
  
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
  }

.searchingOption{
    width: 350px;
    height:50px;
    margin-bottom: 20px;
}
.searching-keyword{
    width: 350px;
    height:50px;
    margin-bottom: 20px;
}
.searching-submit{
    width: 350px;
    height: 50px;
    text-align: center;
    background-color: azure;
    line-height: 40px;
    margin-bottom: 70px;
    border:  0px;
}

.searching-info{
    color: skyblue;
}