<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>


    <style>
        /*구글 웹 폰트 적용*/
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    </style>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}" href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/join.css}" href="../static/css/join.css"/>

</head>
<!-- 공통 자바스크립트(Top)-->
<script th:inline="javascript" >
    const loginError = [[${loginError}]];
    const errorMessage = [[${errorMessage}]];

    if(loginError === true){
        window.alert(errorMessage);
        location.href = "/";
        console.log("why");
    }

    const showMemberMenu = function(){
        if(document.querySelector('.member-menu').style.display === 'block'){
            menu.style.display = 'none';
        }else{
            document.querySelector('.member-menu').style.display = 'block';
        }
    }
</script>
<!-- 공통 자바스크립트(Top)-->
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="developer-button">
                        관리자
                    </div>
                    <div class="searching-button">
                        검색
                    </div>
                    <div>
                        <span th:if="${memberDto == null}" class="login-button"> 로그인</span>
                        <span th:if="${memberDto != null}" class="member-menu-button" onclick="showMemberMenu()"> 로그아웃</span>
                        <div class="member-menu">
                            <div class="member-info">
                                <div>작성한 글</div>
                                <div>작성한 댓글</div>
                            </div> 
                            <form th:action="@{/logout}" th:method="post">
                                <button th:type="submit" class="logout-button">로그아웃</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="join-container">
                <div class="join-title">
                    회원가입
                </div>
                <form class="join-content" th:action="@{/join}" action="/join"  th:method="post" >
                    <div class="join-agree">
                        <div class="join-agree-content">약관에 동의하시겠습니까?</div>
                        <label><input th:type="checkbox" type="checkbox" name="agree" id="agreeValue"/>네, 동의합니다</label>
                    </div>
                    <div class="join-info">
                        <div class="info">
                            <div class="info-title">
                                아이디
                            </div>
                            <div class="info-content">
                                <div class="info-input-container">
                                    <input class="info-input" type="text" name="username" id="username"/>
                                    <input type="hidden" name="usernameValue" id="usernameValue" value="false"/>
                                    <div class="info-input-checker noShow" id="username-checker"> 사용 가능한 아이디입니다</div>
                                </div>
                                <div class="info-information">
                                    8 ~ 16자 영문과 숫자 조합이어야 합니다.
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                비밀번호
                            </div>
                            <div class="info-content">
                                <div class="info-input-container">
                                    <input class="info-input" type="password" name="password" id="password" />
                                    <input type="hidden" name="passwordValue" id="passwordValue" value="false"/>
                                    <div class="info-input-checker noShow" id="password-checker"> 사용 가능한 비밀번호입니다</div>
                                </div>
                                <div class="info-information">
                                    8 ~ 16자 영문과 숫자 조합이어야 합니다.
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                비밀번호 확인
                            </div>
                            <div class="info-content">
                                <div class="info-input-container">
                                    <input class="info-input" type="password" name="passwordSecond" id="passwordSecond"/>
                                    <input type="hidden" name="passwordSecondValue" id="passwordSecondValue" value="false"/>
                                    <div class="info-input-checker noShow" id="passwordSecond-checker"> 비밀번호가 일치합니다</div>
                                </div>
                                <div class="info-information">
                                    비밀번호가 일치해야 합니다
                                </div>
                            </div>
                        </div>
                        <div class="info email-container">
                            <div class="info-title">
                                이메일
                            </div>
                            <div class="info-content email-content">
                                <div class="info-input-container">
                                    <input class="info-input" type="text" name="email" id="email"/>
                                    <input type="hidden" name="emailValue" id="emailValue" value="false"/>
                                    <div class="info-input-checker noShow" id="email-checker"> 사용 가능한 이메일입니다</div>
                                </div>
                                <div class="email-css-container">
                                    <div class="info-information email-information">
                                        <div class="email-send" id="email-send">
                                            인증하기
                                        </div>
                                        <div class="email-authentication">
                                            <input class="email-authentication-number" disabled/>
                                            <div class="email-authentication-checker-button noTouch" id="email-authentication"  >
                                                확인
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="info">
                            <div class="info-title">
                                닉네임
                            </div>
                            <div class="info-content">
                                <div class="info-input-container">
                                    <input class="info-input" type="text" name="nickname" id="nickname"/>
                                    <input type="hidden" name="nicknameValue" id="nicknameValue" value="false"/>
                                    <div class="info-input-checker noShow" id="nickname-checker"> 사용 가능한 닉네임입니다</div>
                                </div>
                                <div class="info-information">
                                    공백과 특수문자를 제외한 2~11 문자를 사용할 수 있습니다 
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-submit">
                        <button type="button" class="submit-button" >회원가입하기</button>
                    </div>
                </form>
            </div>
        </div>
    </section>
    <script>
        
    // 메세지 설정
        successUsername = function(){
            const checking = document.querySelector('#username-checker');
            checking.textContent = '사용 가능한 아이디입니다';
            checking.style.color = 'green'; 
            checking.classList.remove('noShow');
            document.querySelector('#usernameValue').value = true;
        }
        failUsername = function(msg){
            const checking = document.querySelector('#username-checker');
            checking.textContent = msg;
            checking.style.color = 'red';
            checking.classList.remove('noShow');
            document.querySelector('#usernameValue').value = false;
        }
        successPassword = function(){
            const checking = document.querySelector('#password-checker');
            checking.textContent = '사용 가능한 비밀번호입니다';
            checking.style.color = 'green';
            checking.classList.remove('noShow');
            document.querySelector('#passwordValue').value = true;
        }
        const failPassword = function(){
            const checking = document.querySelector('#password-checker');
            checking.textContent = '사용이 불가능 비밀번호입니다.';
            checking.style.color = 'red';
            checking.classList.remove('noShow');
            document.querySelector('#passwordValue').value = false;
        }
        successPasswordSecond = function(){
            const checking = document.querySelector('#passwordSecond-checker');
            checking.textContent = '비밀번호가 일치합니다';
            checking.style.color = 'green';
            checking.classList.remove('noShow');
            document.querySelector('#passwordSecondValue').value = true;
        }
        failPasswordSecond = function(){
            const checking = document.querySelector('#passwordSecond-checker');
            checking.textContent = '비밀번호가 일치하지 않습니다.';
            checking.style.color = 'red';
            checking.classList.remove('noShow');
            document.querySelector('#passwordSecondValue').value = false;
        }
        const failEmail = function(msg){
            const checking = document.querySelector('#email-checker');
            checking.textContent = msg;
            checking.style.color = 'red';
            checking.classList.remove('noShow');
            document.querySelector('#emailValue').value = false;
        }
        const successEmail = function(){
            const checking = document.querySelector('#email-checker');
            checking.textContent = '인증번호가 확인되었습니다';
            checking.style.color = 'green';
            document.querySelector('#emailValue').value = true;
            
            document.querySelector('#email').disabled = true;
            document.querySelector('.email-authentication-number').disabled = true;
            document.querySelector('.email-authentication-checker-button').classList.add('noTouch');
            document.querySelector('.email-send').classList.add('noTouch');
        }
        const successNickname = function(){
            const checking = document.querySelector('#nickname-checker');
            checking.textContent = '사용 가능한 닉네임입니다';
            checking.style.color = 'green';
            checking.classList.remove('noShow');
            document.querySelector('#nicknameValue').value = true;
        }
        const failNickname  = function(){
            const checking = document.querySelector('#nickname-checker');
            checking.textContent = '사용할 수 없는 닉네임입니다';
            checking.style.color = 'red';
            checking.classList.remove('noShow');
            document.querySelector('#nicknameValue').value = false;
        }
   // 메세지 설정     
       




    //이벤트 함수
        const usernameApi = function(testUsername){
            fetch("/api/checkUsername", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body :JSON.stringify({
                    username : testUsername
                })
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                if(data.statusCode === 1){
                    successUsername();
                }else{
                    failUsername("이미 사용 중인 아이디입니다");
                }
            });
        }

        const checkUsername = function(){
            const username = document.querySelector('#username').value;
            var regExp =/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{8,16}$/;
        
            if(regExp.test(username)){
                usernameApi(username);
            }else{
                failUsername('사용이 불가능한 아이디입니다');
            }
        }

        const checkPassword = function(){
            const password = document.querySelector('#password').value;
            var regExp =/^(?=.*\d)(?=.*[a-zA-Z])[0-9a-zA-Z]{8,16}$/;
            const result = regExp.test(password);
            
            if(result == true){
                successPassword();
            }else{
                failPassword();
            }

            const passwordSecond = document.querySelector('#passwordSecond').value;
            const checkingSecond = document.querySelector('#passwordSecond-checker');
            if( password !== passwordSecond && document.querySelector('#passwordSecondValue').value === 'true'){
                failPasswordSecond();
            }
            
            if(password === passwordSecond && document.querySelector('#passwordSecondValue').value === 'false' && document.querySelector('#passwordValue').value === 'true'){
               successPasswordSecond();
            }
            
        }

        const checkPasswordSecond = function(){
            const password = document.querySelector('#password').value;
            const passwordSecond = document.querySelector('#passwordSecond').value;

            if(password === passwordSecond && document.querySelector('#passwordValue').value === 'true'){
                successPasswordSecond();
            }else{
                failPasswordSecond();
            }
        }


        //서버에 이메일 api로 접근
        const emailApi = function(testEmail){
            fetch("/api/authenticateEmail", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body :JSON.stringify({
                    email : testEmail
                })
            })
            .then(response => response.json())
            .then(data => {
                if(data.statusCode === 1){
                    const checking = document.querySelector('#email-checker')
                    checking.textContent = '인증번호를 전송했습니다. 이메일을 확인해주세요';
                    checking.style.color = 'gray';
                    checking.classList.remove('noShow');
                    document.querySelector('.email-authentication-number').disabled = false;
                    document.querySelector('.email-authentication-checker-button').classList.remove('noTouch');
                }else if(data.statusCode === 2){
                    failEmail("이미 회원가입한 이메일입니다. 다른 이메일을 입력해주세요");
                }


                console.log("제발." + data.data);
                document.querySelector('.email-authentication-number').dataset.random = data.data;
            });
        }



        const checkEmail = function(){
            const email = document.querySelector('#email').value;
            const regExp = /^[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_\.]?[0-9a-zA-Z])*\.[a-zA-Z]{2,3}$/i;

            if(regExp.test(email) == false){
                failEmail("이메일을 정확하게 입력해주세요");
            }else{
                emailApi(email);    
            }
        }

        const authenticateEmail = function(){
            const inputData = document.querySelector('.email-authentication-number');
            console.log('value '+inputData.value);
            console.log('random '+inputData.dataset.random);
            if(inputData.value == inputData.dataset.random){
                successEmail();
            }else{
               failEmail("잘못된 인증번호입니다");
            }
        }


        



        const checkNickname = function(){
            const nikcname = document.querySelector('#nickname').value;
            const regExp =/^[a-zA-Zㄱ-힣0-9]{2,11}$/;

            if(regExp.test(nikcname) == true){
                successNickname();
            }else{
               failNickname(); 
            }
        }
      //이벤트 함수



    //이벤트 등록
        const username = document.querySelector('#username');
        const password = document.querySelector('#password');
        const passwordSecond = document.querySelector('#passwordSecond');
        const nickname = document.querySelector('#nickname');
        username.addEventListener('keyup', checkUsername);
        password.addEventListener('keyup', checkPassword);
        passwordSecond.addEventListener('keyup', checkPasswordSecond);
        nickname.addEventListener('keyup', checkNickname);

        const email = document.querySelector('#email-send');
        const emailAuthentication = document.querySelector('#email-authentication');
        email.addEventListener('click', checkEmail);
        emailAuthentication.addEventListener('click', authenticateEmail);
    //이벤트 등록




    //최종 이벤트 함수
        const checkAll = function(event){
            event.preventDefault();
            const agree = document.querySelector('#agreeValue');
            const username = document.querySelector('#usernameValue');
            const password = document.querySelector('#passwordValue');
            const passwordSecond = document.querySelector('#passwordSecondValue');
            const email = document.querySelector('#emailValue');
            const nickname = document.querySelector('#nicknameValue');
            console.log(document.querySelector('.join-content'));
            
            console.log("why");
            if(agree.checked !== true){
                
                alert('이용약관에 동의해주세요');
                return;
            }else if(username.value !== 'true'){
                alert('아이디를 다시 작성해주세요');
                failUsername("아이디를 지정해주세요");
                return;
            }else if(password.value !== 'true'){
                alert('비밀번호를 다시 작성해주세요');
                failPassword();
                return;
            }
            else if(passwordSecond.value !== 'true'){
                alert('비밀번호를 작성해주세요');
                failPasswordSecond();
                return;
            }
            else if(email.value !== 'true'){
                alert('이메일 인증을 완료해주세요');
                failEmail();
                return;
            }
            else if(nickname.value !== 'true'){
                alert('닉네임을 다시 작성해주세요');
                failNickname();
                return;
            }else{
                document.querySelector('.join-content').submit();
            }
           
        }
    //최종 이벤트 함수


    //최종 이벤트 함수 등록
        const submit = document.querySelector('.submit-button');
        submit.addEventListener('click', checkAll);
    //최종 이벤트 함수 등록
    </script>




    <!-- 공통 모달-->    
    <div class="modal ">
        <div class="modal-body">
            <div class="modal-content-container">
                <div class="modal-close">
                    X
                </div>
                <div class="modal-title">
                    로그인
                </div>
                <form th:action="@{/loginProc}" th:method="post"  class="modal-form-container" >
                    <input th:type="hidden" type="hidden" name="secret_key" value="secret"/>
                    <input th:type="text" class="modal-form-input" name="username" placeholder="아이디"/>
                    <input th:type="password" class="modal-form-input" name="password" placeholder="비밀번호"/>
                    <div class="modal-form-info">
                        <label><input type="checkbox" th:type="checkbox" class="modal-form-checkBox" name="rememberMe" placeholder="로그인 상태 유지"/>로그인 상태 유지</label>
                        <a th:href="@{/findAuthentication}" >ID / Password 찾기</a>
                    </div>
                    <button th:type="submit" type="submit"  class="modal-form-submit">로그인</button>
                    <div class="modal-form-join">
                        <a  th:href="@{/joinMember}">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- 공통 모달-->
</body>
<!-- 공통 자바스크립트(bottom)-->
<script th:inline="javascript" src="../static/js/basic/modal.js" th:src="@{/js/basic/modal.js}"></script>
<!-- 공통 자바스크립트(bottom)-->
</html>