<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>


    <style>
        /*구글 웹 폰트 적용*/
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    </style>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel ="stylesheet" type="text/css" href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>
<script th:inline="javascript">
    const loginError = [[${loginError}]];
    const errorMessage = [[${errorMessage}]];

    if(loginError === true){
        window.alert(errorMessage);
        location.href = "/";
    }
</script>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="developer-button">
                        관리자
                    </div>
                    <div class="searching-button">
                        검색
                    </div>
                    <div>
                        <span th:if="${memberDto == null}" class="login-button"> 로그인</span>
                        <span th:if="${memberDto != null}" class="myInfo-button"> 
                            <input id="check-btn" type="checkbox" />
                            <label for="check-btn">개인 정보</label>
                            <ul class="menubars">
                                <li>메뉴</li>
                                <li>메뉴</li>
                                <li>메뉴</li>
                                <li>메뉴</li>
                            </ul>  
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="topic-container">
                <div class="container-name">
                    Topic
                </div>
                <div class="big-card-container">
                    <div class="big-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="big-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="inner">
            <div class="news-container">
                <div class="container-name">
                    News
                </div>
                <div class="small-card-container">
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>
    <div class="modal ">
        <div class="modal-body">
            <div class="modal-content-container">
                <div class="modal-close">
                    X
                </div>
                <div class="modal-title">
                    로그인
                </div>
                <form th:action="@{/loginProc}" th:method="post"  class="modal-form-container" >
                    <input th:type="hidden" type="hidden" name="secret_key" value="secret"/>
                    <input th:type="text" class="modal-form-input" name="username" placeholder="아이디"/>
                    <input th:type="password" class="modal-form-input" name="password" placeholder="비밀번호"/>
                    <div class="modal-form-info">
                        <label><input type="checkbox" th:type="checkbox" class="modal-form-checkBox" name="rememberMe" placeholder="로그인 상태 유지"/>로그인 상태 유지</label>
                        <a th:href="@{/findAuthentication}" >ID / Password 찾기</a>
                    </div>
                    <button th:type="submit" type="submit"  class="modal-form-submit">로그인</button>
                    <div class="modal-form-join">
                        <a  th:href="@{/joinMember}">회원가입</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    const modal = document.querySelector(".modal");
    const login_button = document.querySelector('.login-button');
    const body = document.querySelector('body');

    login_button.addEventListener('click', ()=>{
        open()
    })

    const modal_close = document.querySelector(".modal-close");
    modal_close.addEventListener('click',()=>{
        close()
    })    

//Hide modal
    window.addEventListener('click', (e) => {
        console.log("hi");
        e.target === modal ?  close() : false
    })

    function close(){
        modal.style.display= 'none';
        body.style.overflow = 'auto';
    }
    function open(){
        modal.style.display= 'block';
        body.style.overflow = 'hidden';
        
    }



    const myInfo_button =  document.querySelector('.myInfo-button');
    const myInfo =  document.querySelector('.myInfo');
    
    myInfo_button.addEventListener('click',()=>{
        console.log("버튼");
        myInfo.classList.toggle('notShow');
    })

</script>
</html>