<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>


    <style>
        /*구글 웹 폰트 적용*/
        @import url(//fonts.googleapis.com/earlyaccess/jejugothic.css);
    </style>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/main.css}"/>

    <link rel ="stylesheet" type="text/css" href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" href="../static/css/main.css"/>

</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    <div class="developer-button">
                        관리자
                    </div>
                    <div class="searching-button">
                        검색
                    </div>
                    <div class="login-button">
                        로그인
                    </div>
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="topic-container">
                <div class="container-name">
                    Topic
                </div>
                <div class="big-card-container">
                    <div class="big-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="big-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="inner">
            <div class="news-container">
                <div class="container-name">
                    News
                </div>
                <div class="small-card-container">
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                    <div class="small-card">
                        <div class="card-picture">

                        </div>
                        <div class="card-title">
                            엔믹스
                        </div>
                        <div class="card-date">
                            2023년 7월 27일
                        </div>
                    </div>
                </div>      
            </div>
        </div>
    </section>
    
</body>
</html>