<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{basic/head ::head (@{/css/main.css})}"></div>
<body>
    <div th:replace="~{basic/header :: header}"></div>
    <div th:replace="~{basic/searchingModal :: searchingModal}"></div>
    <div th:replace="~{basic/loginModal :: loginModal}"></div>
    <section>
        <div class="inner">
            <div class="news-container">
                <div class="container-name">
                    Topic
                </div>
                <div class="card-container">
                    <th:block th:each="card : ${big}">
                        <div class="big-card-form">
                            <div class="big-card" th:data-id="${card.postId}">
                                <div class="card-picture">
                                    <img class="card-thumbnail" th:src="${card.src}" th:if="${card.src != null}"/>
                                </div>
                                <div class="card-title" th:text="${card.title}">
                                    엔믹스
                                </div>
                                <div class="card-date" th:text="${#temporals.format(card.date, 'yyyy-MM-dd')}">
                                    2023년 7월 27일
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="news-container second">
                <div class="card-container">
                    <th:block  th:each=" card : ${small}">
                        <div class="small-card-form">
                            <div class="small-card" th:data-id="${card.postId}">
                                <div class="card-picture">
                                    <img class="card-thumbnail" th:src="${card.src}" th:if="${card.src != null}"/>
                                </div>
                                <div class="card-title" th:text="${card.title}">
                                    엔믹스
                                </div>
                                <div class="card-date" th:text="${#temporals.format(card.date, 'yyyy-MM-dd')}">
                                    2023년 7월 27일
                                </div>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    (function(){
        let bigs = document.querySelectorAll(".big-card");
        bigs.forEach( card =>{
            card.addEventListener("click", (event)=>{
               let id =  event.currentTarget.dataset.id;
               location.href = "/news/detail?id="+id;
            });
        });
        let smalls = document.querySelectorAll(".small-card");
        smalls.forEach( card =>{
            card.addEventListener("click", (event)=>{
               let id =  event.currentTarget.dataset.id;
               location.href = "/news/detail?id="+id;
            });
        });
    })();

</script>
<script th:inline="javascript" src="../static/js/basic/modal.js" th:src="@{/js/basic/modal.js}"></script>
</html>