<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"  href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/postDetail.css}" href="../static/css/postDetail.css"/>
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    side-menu
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="detail-container">
                <div class="detail" th:object="${postDetail}" >
                    <div class="detail-category" th:text="*{category}">
                        음악    
                    </div>
                    <div class="detail-title" th:text="*{title}">
                        테스트
                    </div>
                    <div class="detail-info">
                        <div class="detail-info-nickname" th:text="*{nickname}">테스트</div>
                        <div class="detail-info-date" th:text="*{date}">2023년 8월 11일</div>
                        <div class="detail-info-views" th:text="*{views}">10</div>
                        <div class="detail-info-likes" th:text="*{likes}">2</div>
                    </div>
                    <div class="detail-textdata" th:text="*{body}">
                        테스트<br>테스트<br>테스트<br>테스트
                    </div>
                    <div class="detail-likes-container">
                        <div class="detail-likes" th:text="*{likes}">2</div>
                    </div>
                    <div class="detail-comment-container">
                        <th:block th:each=" comment :*{commentList}" >
                            <!-- <div class="comment" th:text="${comment.textBody}"></div> -->
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>