<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="~{basic/head ::head (@{/css/post.css})}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<body>
    <div th:replace="~{basic/header :: header}"></div>
    <div th:replace="~{basic/searchingModal :: searchingModal}"></div>
    <div th:replace="~{basic/loginModal :: loginModal}"></div>

    <!--구체적 페이지-->
    <section>
        <div class="inner">
            <div class="post-container">
            <form class="post" th:action="@{/post}" th:method="post">
                <div class="post-header">
                    <div class="post-header-category">
                        <div class="category-title">
                            카테고리
                        </div>
                        <select class="category" name="category">
                            <option value="MUSIC">음악</option>
                            <option value="REVIEW">리뷰</option>
                            <option value="CERTIFICATION">인증/후기</option>
                            <option value="NORMAL">일반</option>
                        </select>
                    </div>
                    <div class="post-header-title">
                        <div class="title-title">
                            제목
                        </div>
                        <input type="text" class="title" name="title" th:value="${postSaveViewDto.title}"/>
                    </div>
                </div>
                <div class="post-textdata">
                    <textarea id="summernote" name="body"></textarea>
                </div>
                <button type="submit" class="post-button">등록하기</button>
            </form>
            </div>
        </div>
    </section>
    <!--구체적 페이지-->
    
</body>
<script th:inline="javascript">
    let originalOption = String([[${postSaveViewDto.category}]]);
    let category = document.querySelector(".category");
    let options = document.querySelectorAll("option");
    options.forEach( o => {
        if(o.value === originalOption){
            console.log(o.value);

            o.selected = true;
        }
    });

    let jsonArray = [];
    $(document).ready(function() {
        $('#summernote').summernote({
        tabsize: 2,
        height: 500,
        lang: "ko-KR",
        callbacks: {
          onImageUpload : function(files, editor, welEditable){

                // 파일 업로드(다중업로드를 위해 반복문 사용)
                for (var i = files.length - 1; i >= 0; i--) {
                    console.log(this)
                    uploadSummernoteImageFile(files[i], this);
                    }
                }
            } 
      });

      function uploadSummernoteImageFile(file, summernote) {
        var data = new FormData();	
        data.append("file",file);
        $.ajax({
            url: '/upload',
            type: "POST",
            enctype: 'multipart/form-data',
            data: data,
            cache: false,
            contentType : false,
            processData : false,
            success : function(json) {
                    $(summernote).summernote('editor.insertImage', json.data);
                    jsonArray.push(json.data);
                    console.log(json.data);
                },
                error : function(e) {
                    console.log(e);
                }
            });
            }

    });
</script>
<script th:inline="javascript" src="../static/js/basic/modal.js" th:src="@{/js/basic/modal.js}"></script>

</html>