<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"  href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/postList.css}" href="../static/css/postList.css"/>
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    side-menu
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="board-container">
                <div class="board-header">
                    <div class="board-header-title">
                        게시판
                    </div>
                    <div class="board-header-category-container">
                        <div class="board-header-category" data-enum="ALL">
                            전체
                        </div>
                        <div class="board-header-category" data-enum="MUSIC">
                            음악
                        </div>
                        <div class="board-header-category" data-enum="REVIEW">
                            리뷰
                        </div>
                        <div class="board-header-category" data-enum="CERTIFICATION">
                            인증/후기
                        </div>
                        <div class="board-header-category" data-enum="NORMAL">
                            일반
                        </div>
                    </div>
                </div>
                <div class="board-line-container">
                    <div class="board-line">
                        <div class="board-line-number">
                            번호
                        </div>
                        <div class="board-line-category">
                            카테고리
                        </div>
                        <div class="board-line-title">
                            제목
                        </div>
                        <div class="board-line-writer">
                            글쓴이
                        </div>
                        <div class="board-line-date">
                            작성일
                        </div>
                    </div>
                    <div class="board-line">
                        <div class="board-line-number" >
                            1
                        </div>
                        <div class="board-line-category" >
                            일반
                        </div>
                        <div class="board-line-title" >
                            엔믹스
                        </div>
                        <div class="board-line-writer">
                            지우
                        </div>
                        <div class="board-line-date">
                            2023.07.27
                        </div>
                    </div>
                    <th:block  th:each=" content : ${pageDto.content}">
                        <div class="board-line" >
                            <th:block th:object="${content}">
                                <div class="board-line-number" th:text="*{postId}"  >
                                    1
                                </div>
                                <div class="board-line-category" th:text="*{category}">
                                    일반
                                </div>
                                <div class="board-line-title" th:text="*{title}" th:data-value="*{postId}">
                                    엔믹스
                                </div>
                                <div class="board-line-writer" th:text="*{nickname}">
                                    지우
                                </div>
                                <div class="board-line-date" th:text="*{date}">
                                    2023.07.27
                                </div>
                            </th:block>
                        </div>
                    </th:block>
                </div>
                <div class="post-info-container">
                    <div class="post-search">
                        검색하기
                    </div>
                    <th:block th:if="${memberDto != null}">
                        <form th:action="@{/post}" th:method="get">
                            <button type="submit" class="post-new">
                                작성하기
                            </div>
                        </form>
                   </th:block>
                </div>
                <div class="page-container" 
                data-current="${pageDto.current}" data-totalElements="${pageDto.totalElements}"
                data-totalPages="${pageDto.totalPages}" data-hasNext="${pageDto.hasNext}"
                data-hasPrevious="${pageDto.hasPrevious}" data-isFirst="${pageDto.isFirst}"
                data-isLast="${pageDto.isLast}">
                    <div class="piece page-pre">이전</div>
                    <div class="piece page-first">1</div>
                    <div class="piece page-first-dot">...</div>
                    <div class="page-list"></div>
                    <div class="piece page-last-dot">...</div>
                    <div class="piece page-last">last</div>
                    <div class="piece page-next">다음</div>
                </div>
            </div>
        </div>
    </section>
<script th:inline="javascript">
 // 페이지 정보
        let category = String([[${pageDto.category}]]); //카테고리

        let numberOfElements= Number([[${pageDto.numberOfElements}]]);
        let totalElements =  Number([[${pageDto.totalElements}]]);
        let totalPages =  Number([[${pageDto.totalPages}]]);
        let hasNext = Boolean([[${pageDto.hasNext}]]);
        let hasPrevious =  Boolean([[${pageDto.hasPrevious}]]);
        let isFirst = Boolean([[${pageDto.isFirst}]]);
        let isLast=  Boolean([[${pageDto.isLast}]]);
        let current =  Number([[${pageDto.current}]]);
        // 설정 정보
</script>
</body>
<!-- 공통 자바스크립트(bottom)-->
<script th:inline="javascript" src="../static/js/postList.js" th:src="@{/js/postList.js}"></script>
<!-- 공통 자바스크립트(bottom)-->
</html>