<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--favicon 설정-->

    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>
    
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}"  href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/postDetail.css}" href="../static/css/postDetail.css"/>
</head>
<body>
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/board}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    side-menu
                </div>
            </div>
        </div>
    </header>
    <hr>
    <section>
        <div class="inner">
            <div class="detail-container">
                <div class="detail">
                    <div class="detail-box">
                    <th:block  th:object="${postDetail}">
                        <div class="detail-category" th:text="*{category}">
                            음악    
                        </div>
                        <div class="detail-title" th:text="*{title}">
                            테스트
                        </div>
                        <div class="detail-info">
                            <div class="detail-info-left">
                                <div class="detail-info-image"></div>
                                <div class="mini-info" th:text="*{nickname}">앤써</div>
                                <div class="mini-container">최종 수정일 <div class="mini-info" th:text="*{date}">2023년 8월 11일</div></div>
                                <div class="mini-container">조회수<div class="mini-info" th:text="*{views}">10</div></div>
                                <div class="mini-container">좋아요 
                                    <div class="mini-info" th:text="*{likes}">2</div>
                                </div>
                            </div>
                            <div class="detail-info-right">
                                <div class="post-delete">삭제하기</div>
                                <a th:href="@{/post(post=*{id})}" class="post-update">수정하기</a>
                            </div>
                        </div>
                        <div class="detail-textdata" th:text="*{body}">
                            테스트<br>테스트<br>테스트<br>테스트
                        </div>
                        <div class="writer-posts-container">
                            <div class="writer-posts">
                                <div class="writer-posts-header">
                                    <span th:text="*{nickname}">앤써</span>님이 작성한 최신 글
                                </div>
                                <th:block th:each="recentPosts : ${postDetail.recent.content}" >
                                <a th:href="@{/post/detail(id=${recentPosts.id})}" class="writer-posts-detail" th:text="${recentPosts.title}">
                                    오우오우
                                </a>
                                </th:block>
                            </div>
                        </div>
                        <div class="detail-likes-container">
                            <div id="likes" class="detail-likes-circle">
                                <div class="detail-likes" th:text="*{likes}">2</div>
                                <div class="detail-likes-title">좋아요</div>
                            </div>
                        </div>
                    </th:block>
                    </div>
                    <div class="detail-comment-container">
                        <div class="comment-cnt-container">
                            <div class="comment-cnt-title">댓글</div>
                            <div class="comment-cnt" th:text="${postDetail.commentCnt}">0</div>
                        </div>
                        <th:block th:each="comment :${postDetail.commentList.content}" >
                            <div class="comment">
                                <div class="comment-top">
                                    <div class="comment-top-left">
                                        <div class="comment-writer-image">
                                        
                                        </div>
                                        <div class="comment-writer-nickname" th:text="${comment.nickname}">
                                            불바다
                                        </div>
                                    </div>
                                    <div class="comment-date" th:text="${comment.lastModifiedTime}">
                                        2023년 8월 13일
                                    </div>
                                </div>
                                <div class="comment-textBody" th:text="${comment.textBody}">
                                    good!!!
                                </div>
                                <div class="comment-bottom" >
                                    <div class="comment-likes" th:text="${comment.likes}">
                                        10
                                    </div>
                                    <div class="comment-new" data-commentId="${comment.commentId}">
                                        댓글달기
                                    </div>
                                </div>
                                <div></div>
                            </div>
                        </th:block>
                        <div class="page-container" >
                            <div class="piece page-pre">이전</div>
                            <div class="piece page-first">1</div>
                            <div class="piece page-first-dot">...</div>
                            <div class="page-list"></div>
                            <div class="piece page-last-dot">...</div>
                            <div class="piece page-last">last</div>
                            <div class="piece page-next">다음</div>
                        </div>
                        <div class="comment-write-container">
                            <form class="comment-write" th:action="/comment" th:method="post">
                                <textarea class="comment-write-textarea"></textarea>
                                <button type="submit" class="comment-write-button">등록하기</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
         const commentNew = function(event){
                console.log("helo");
                const node =`<div class="comment-write-container">
                            <form class="comment-write" th:action="/comment" th:method="post">
                                <textarea class="comment-write-textarea"></textarea>
                                <button type="submit" class="comment-write-button">등록하기</button>
                            </form>
                        </div>`;
                const targetNode =  event.target;
                const wow =  targetNode.parentNode.nextElementSibling;
                wow.innerHTML = node;
            }
           let comment_new_button =  document.querySelectorAll('.comment-new');
           comment_new_button.forEach( node =>{
            console.log("dmmdd");
            node.addEventListener("click", commentNew);
           })
    </script>
    
</body>

<script th:inline="javascript">
           let postId = String([[${postDetail.id}]]); //카테고리
   
           let numberOfElements= Number([[${postDetail.commentList.numberOfElements}]]);
           let totalElements =  Number([[${postDetail.commentList.totalElements}]]);
           let totalPages =  Number([[${postDetail.commentList.totalPages}]]);
           let hasNext = Boolean([[${postDetail.commentList.hasNext}]]);
           let hasPrevious =  Boolean([[${postDetail.commentList.hasPrevious}]]);
           let isFirst = Boolean([[${postDetail.commentList.isFirst}]]);
           let isLast=  Boolean([[${postDetail.commentList.isLast}]]);
           let current =  Number([[${postDetail.commentList.current}]]);
           // 설정 정보
           let member = [[${memberDto}]];
            let authority = [[${authority}]];

            if(authority == null){
                const update_button = document.querySelector(".post-update");
                const delete_button = document.querySelector(".post-delete");
                update_button.style.display = 'none';
                delete_button.style.display = 'none';
            }else{
                const delete_button = document.querySelector(".post-delete");
                delete_button.style.display = 'none';
            }
           

           

           
</script>
<!-- 공통 자바스크립트(bottom)-->
<script th:inline="javascript" src="../static/js/postDetail.js" th:src="@{/js/postDetail.js}"></script>
<!-- 공통 자바스크립트(bottom)-->
</html>