<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--css reset-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"/>
    <!--fontawesome-->
    <script src="https://kit.fontawesome.com/792b7e4f23.js" crossorigin="anonymous"></script>
    <!--Spoca Hans Sans Neo-->
    <link href='//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css' rel='stylesheet' type='text/css'>



    
    
    <link rel ="stylesheet" type="text/css" th:href="@{/css/basic/basic.css}" href="../static/css/basic/basic.css"/>
    <link rel ="stylesheet" type="text/css" th:href="@{/css/post.css}" href="../static/css/post.css"/>



    <!-- include libraries(jQuery, bootstrap) -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

</head>
<body>
    <!-- 공통 헤더-->
    <header>
        <div class="inner">
            <div class="header-container">
                <div class="header-left">
                    <div class="titile">
                      KpopGeneration
                    </div>
                    <div class="main-menu">
                        <a th:href="@{/news/list}">
                            <div class="news">
                                뉴스
                            </div>
                        </a>
                        <a th:href="@{/topic/list}">
                           <div class="topic">
                                토픽
                           </div>
                        </a>
                        <a th:href="@{/post/list}">
                           <div class="community">
                                커뮤니티
                           </div>
                        </a>
                    </div>
                </div>
                <div class="side-menu">
                    side-menu
                </div>
            </div>
        </div>
    </header>
    <hr>
    <!-- 공통 헤더-->

    <!--구체적 페이지-->
    <section>
        <div class="inner">
            <div class="post-container">
            <form class="post" th:action="@{/post}" th:method="post">
                <div class="post-header">
                    <div class="post-header-category">
                        <div class="category-title">
                            카테고리
                        </div>
                        <select class="category" name="category">
                            <option value="music">음악</option>
                            <option value="review">리뷰</option>
                            <option value="certification">인증/후기</option>
                            <option value="normal">일반</option>
                        </select>
                    </div>
                    <div class="post-header-title">
                        <div class="title-title">
                            제목
                        </div>
                        <input type="text" class="title" name="title"/>
                    </div>
                </div>
                <div class="post-textdata">
                    <textarea id="summernote" name="textdata"></textarea>
                </div>
                <button type="submit" class="post-button">등록하기</button>
            </form>
            </div>
        </div>
    </section>
    <!--구체적 페이지-->
    
</body>
<script>
    $(document).ready(function() {
        $('#summernote').summernote({
        tabsize: 2,
        height: 500,
      });
    });
</script>
</html>